
<footer class="footer">
    <div class="footer_container">
        <div class="footer_links">
            <button type="submit" class="btn" onclick="openMessage()">Mobile app</button>
            <button type="submit" class="btn" onclick="openMessage()">Blog</button>
            <a href="/">
                <img class="applogo" src="/images/WeatherBird.png" alt="logo">
            </a>
            <button type="submit" class="btn" onclick="openMessage()">Help</button>
            <button type="submit" class="btn" onclick="openMessage()">Resources</button>
        </div>
        <hr class="footer_hr">
        <div class="footer_bottom">
            <a class="social-icons" href="https://github.com/AminebajjiDEV"><i class="fa-brands fa-square-github"></i></a>
            <a class="social-icons" href="https://linkedin.com/in/amine-bajji"><i class="fa-brands fa-linkedin"></i></a>
            <p class="copyright">AmineBajjiDEV © <%= new Date().getFullYear()%>
            </p>
        </div>
    </div>

</footer>

</body>

</html>